<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678953337261-qka6r6ekrrjudn3aunj36q2plv8rtm4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678953337261-qka6r6ekrrjudn3aunj36q2plv8rtm4g</string>
	<key>API_KEY</key>
	<string>AIzaSyAbpreLpIiNVDGUb6ozNwI2XGhtMyawJC0</string>
	<key>GCM_SENDER_ID</key>
	<string>678953337261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..SignInSignUpDemo</string>
	<key>PROJECT_ID</key>
	<string>signinsignupdemo-4f443</string>
	<key>STORAGE_BUCKET</key>
	<string>signinsignupdemo-4f443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678953337261:ios:37562c82239dcf3182a124</string>
	<key>DATABASE_URL</key>
	<string>https://signinsignupdemo-4f443.firebaseio.com</string>
</dict>
</plist>